<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backbone.js-todo</title>
  <link rel="stylesheet" href="dist/scss/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <!-- Header-area -->
  <header class="l-header">
    <div class="p-header">
      <h1 class="p-header__title">Backbone TODO</h1>
      <span class="p-header__emoji">&#128060;</span>
    </div>
  </header>

  <main class="l-main" id="app">

    <!-- add-todo-inputArea -->

    <form class="p-addTodo" id="js-form"></form>

    <!-- Search-area -->
    <div class="p-searchBox" id="js-search">
      <i class="fa fa-search p-searchBox__icon" aria-hidden="true"></i>
      <input type="text" class="p-searchBox__inputText js-search" value="" placeholder="Search todos">
    </div>

    <!-- Todo-list -->
    <ul class="p-todoList js-todo_list"></ul>

    <script type="text/template" id="template-list-item">
      <% if(forSearchResult) {%>
      <li class="p-listItem js-todo_list-item <% if (isDone){ %>p-listItem--done<% } %>">
          <i class="<% if (isDone){ %>fas fa-check-circle<% }else{ %>far fa-check-circle<% } %>
            c-icon p-listItem__iconTick js-click-done" aria-hidden="true"></i>
          <% if (!editMode){ %>
          <span class="p-listItem__text js-todo_list-text"><%= text %></span>
          <% }else if(editMode){ %>
          <input type="text" class="p-listItem__editText js-todo_list-editForm" value="<%= text %>" />
          <% } %>
          <i class="c-icon p-listItem__iconBin fa fa-trash icon-trash js-click-delete" aria-hidden="true"></i>
        </li>
        <% } %>
      </script>


    <!-- Add-todo-area -->

    <script type="text/template" id="template-form">
      <div class="p-addTodo__inputArea">
        <input type="text" class="p-addTodo__inputText js-get-val" value="" placeholder="...">
        <% if(hasError){ %>
        <span class="c-error js-toggle-error"><%= errorMsg %></span>
        <% } %>
      </div>
      <button class="c-btn p-addTodo__btn js-add-todo">ADD TODD</button>
    </script>


  </main>

  <script src="/dist/js/app.js"></script>
</body>

</html>